<html>
<head>
    <title>edX Course Search - Hot Searches</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="description" content="A visualization of the latest hot searches on edX.">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="google" value="notranslate">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="static/css/style.css">
    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-33031883-3', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body dir="ltr">
    <div id="container">
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="matrix-container">
            <div id="matrix-button" class="idleable"></div>
            <div id="desc" class="idleable" dir="ltr">Showing the latest hot searches in <div id="region"><span>All Regions</span></div>.</div>

            <div id="matrix-select-container"></div>
            
            <select id="region-select">
                <option value="0">All Regions</option>

<!--                 <option class="sort" value="30">Argentina</option>
                
                <option class="sort" value="8">Australia</option>
                
                <option class="sort" value="44">Austria</option>
                
                <option class="sort" value="41">Belgium</option>
                
                <option class="sort" value="18">Brazil</option>
                
                <option class="sort" value="13">Canada</option>
                
                <option class="sort" value="38">Chile</option>
                
                <option class="sort" value="32">Colombia</option>
                
                <option class="sort" value="43">Czech Republic</option>
                
                <option class="sort" value="49">Denmark</option>
                
                <option class="sort" value="29">Egypt</option>
                
                <option class="sort" value="50">Finland</option>
                
                <option class="sort" value="16">France</option>
                
                <option class="sort" value="15">Germany</option>
                
                <option class="sort" value="48">Greece</option>
                
                <option class="sort" value="10">Hong Kong</option>
                
                <option class="sort" value="45">Hungary</option>
                
                <option class="sort" value="3">India</option>
                
                <option class="sort" value="19">Indonesia</option>
                
                <option class="sort" value="6">Israel</option>
                
                <option class="sort" value="27">Italy</option>
                
                <option class="sort" value="4">Japan</option>
                
                <option class="sort" value="37">Kenya</option>
                
                <option class="sort" value="34">Malaysia</option>
                
                <option class="sort" value="21">Mexico</option>
                
                <option class="sort" value="17">Netherlands</option>
                
                <option class="sort" value="52">Nigeria</option>
                
                <option class="sort" value="51">Norway</option>
                
                <option class="sort" value="25">Philippines</option>
                
                <option class="sort" value="31">Poland</option>
                
                <option class="sort" value="47">Portugal</option>
                
                <option class="sort" value="39">Romania</option>
                
                <option class="sort" value="14">Russia</option>
                
                <option class="sort" value="36">Saudi Arabia</option>
                
                <option class="sort" value="5">Singapore</option>
                
                <option class="sort" value="40">South Africa</option>
                
                <option class="sort" value="23">South Korea</option>
                
                <option class="sort" value="26">Spain</option>
                
                <option class="sort" value="42">Sweden</option>
                
                <option class="sort" value="46">Switzerland</option>
                
                <option class="sort" value="12">Taiwan</option>
                
                <option class="sort" value="33">Thailand</option>
                
                <option class="sort" value="24">Turkey</option>
                
                <option class="sort" value="35">Ukraine</option>
                
                <option class="sort" value="9">United Kingdom</option> -->
                
                <option class="sort" value="1">United States</option>
                
                <!-- <option class="sort" value="28">Vietnam</option> -->
            </select>

            <div id="logo">
                <a href="https://www.edx.org/course-search">
                    <span>Course Search</span>
                </a>
            </div>
        </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="/static/js/vendor/classList.js"></script>
    <script src="/static/js/vendor/jquery.easing.1.3.js"></script>
    <script src="/static/js/vendor/plugins.js"></script>
    <script src="/static/js/vendor/raf.js"></script>
    <script src="/static/js/vendor/underscore.js"></script>
    <script src="/static/js/vendor/url.js"></script>
    <script src="/static/js/Blinker.js"></script>
    <script src="/static/js/offset.js"></script>
    <script src="/static/js/rtl.js"></script>
    <script src="/static/js/Typer.js"></script>
    <script src="/static/js/Wiper.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
